{
  "env": {
    "react-native/react-native": true,
    "es2022": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": "tsconfig.json"
      }
    }
  },
  "plugins": [
    "react",
    "react-native",
    "react-hooks",
    "@typescript-eslint",
    "sonarjs",
    "promise",
    "prettier",
    "import",
    "eslint-plugin-import-helpers"
  ],
  "extends": [
    "standard-with-typescript",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "plugin:@typescript-eslint/recommended",
    "plugin:promise/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:sonarjs/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          ["/^react$/", "/^react-native$/"],
          ["/^@expo/", "/^expo/", "module"],
          "/^(pages|components|routes|providers)/",
          ["/hooks/", "/helperFunctions/"],
          ["/infra/", "/data/", "/validation/"],
          "/^assets/",
          "/testHelpers/",
          "/types/",
          ["/^theme$/", "/styles/"],
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ],
    "import/no-unresolved": [2, { "commonjs": true, "amd": true }],
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "import/no-duplicates": "error",
    "@typescript-eslint/prefer-nullish-coalescing": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/no-floating-promises": [
      "error",
      {
        "ignoreVoid": false
      }
    ],
    "object-shorthand": "warn",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "no-console": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint-in-jsx-scope": "off",
    "@typescript-eslint/no-non-null-assertion": "warn",
    "space-before-function-paren": "off",
    "eslint-disable-next-line": "off",
    "react/display-name": "off",
    "prettier/prettier": "error"
  }
}
